
<html lang="en">

    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">
    
      <title>{% block title %}{% endblock %}</title>
    
      <!-- Bootstrap core CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    
      <!-- Stylesheets -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    
    
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css">
      <link href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.5.min.css" rel="stylesheet">
      <link href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.0.min.css" rel="stylesheet">
      <!-- Custom styles for this template -->
      <!-- <link rel="stylesheet" href="/static/styles/style.css?q=1280549781" type="text/css" media="screen" charset="utf-8" /> -->
     
    
    </head>
    <body>
    
      <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
            
            <a class="navbar-brand" href="{{ url_for('my_page.profile' )}}">My webpage</a>
            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav ml-auto">
                    
                    {% if session.email %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{session.email}}</a>
                        <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Edit Profile</a>
                        <a class="dropdown-item" href="{{url_for('user_page.password')}}">Change Password</a>
                        </div>
                    </li>
                    <li class='nav item'>
                        <a class='nav-link' href="{{ url_for('user_page.logout') }}">Log out</a>
                    </li>
    
                    {% else %}
                    
                    <li class="nav-item {% if request.endpoint == 'login' %}active{% endif %}">
                        <a class="nav-link" href="{{ url_for('user_page.login') }}"> login </a>
                    </li>
                    <li class="nav-item {% if request.endpoint=='register'%}active{% endif %}">
                        <a class="nav-link" href="{{ url_for('user_page.register') }}">register</a>
                    </li>
                    
                    {% endif %}
    
                </ul>
            </div>     
        </nav>
    
        <div class="jumbotron" style="background-color:rgb(250, 158, 71);">
                
            <div class="container">
                <div class="text-center">
                    <img src="/static/images/me.png" class="rounded-circle" style="width:15%; height:auto">
                    <p > Wang YuChun </p>
                </div>
            </div>
        </div>
    
        <div class="container">
                {% block content %}{% endblock %}
        </div>
    
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.5.min.js"></script>
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.5.min.js"></script>
    </body>

    
</html>>    