<head>
<!-- <link href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.5.min.css" rel="stylesheet"> -->
<!-- <link href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.0.min.css" rel="stylesheet"> -->

</head>
<div>
    <div id="header">
        Hi      
    </div>
  
   
            <!-- <script src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.5.min.js"></script> -->
            <!-- <script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.5.min.js"></script> -->
        
        

   
    <div id="footer">
        copyright from AIA<br>
    </div>
  
</div>